*.iml
.gradle
.project
.classpath
.metadata
.settings
.recommenders
_0*
build
build-eclipse
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/out
/captures
.externalNativeBuild
*.log
